.htaccess
!*/.htaccess
Settings-Local.php
attachements/*
!attachments/index.php
cache/data*.php
ffcache/data*.php
Packages/backups/*
Packages/temp
*.*~
Packages/*.tgz
Packages/*.tar.gz
Packages/*.zip
Packages/*/
/upgrade.php
